<div class="container" id="shopping_cart">
  <% if @shopping_cart.shopping_cart_items.length > 0 %>
  <%= link_to "Vider mon panier", cart_clear_path, class:"btn" %>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @shopping_cart.shopping_cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.id %></td>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td><%= link_to "-", remove_product_from_cart_path(cart_item.item.id), class: "btn-small" %><%= cart_item.quantity %><%= link_to "+", product_to_cart_path(cart_item.item.id), class: "btn-small" %></td>
        <td><%= cart_item.price*cart_item.quantity %></td>
      </tr>
    <% end %>
    <tbody>
  <table>
  <% else  %>
  <p>Votre panier est vide</p>
  <% end %>
</div>
