<div class="container" id="payments_container">
  <%= render "arianne" %>
  <p id="notice"><%= notice %></p>

  <% @payment.shopping_cart.shopping_cart_items.each do |p| %>
  <% product = Product.find(p.item_id) %>
  <%= product.name %>
  <%= image_tag product.images[0].file.url(:thumb) %>
  <% end %>
  <%= link_to 'Acheter', payments_buy_path, class:"btn btn-command" %>
</div>
