<div id="category-show" class="container">
  <h1><%= @category.libCategory %></h1>
  <div class="row products-container">
    <% @products.each do |product| %>
    <% i = 0 %>
    <div class="product col-sm-3 <% if i%3==0 %>col-sm-offset-3-2<% end %>">
      <div class="visuel">
        <%= image_tag product.images[0].file.url %>
      </div>
      <div class="content">
        <p class="title"><%= product.name %></p>
        <p class="price"><%= product.price %>€</p>
        <%= link_to "Commander", product_to_cart_path(product.id), class: "add-product-to-cart" %>
      </div>
    </div>
    <% i+=1 %>
    <% end %>
  </div>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
