<%= form_for_product(@product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <hr>
  <% n = 0 %>
  <%= f.fields_for :images do |ff| %>
    <% image = n < @product.images.length - 1 ? @product.images[n] : nil; %>
    <% n += 1 %>
      <div class="field">
        <%= ff.label :file %>
        <% if image %>
          <%= image_tag image.file.url(:thumb) %>
          <%= ff.check_box :_destroy %>
        <% else %>
          <%= ff.file_field :file %>
        <% end %>
          <span class="remove">Destroy</span>
          <span class="add">Add</span>
      </div>
      <div class="field">
        <%= ff.label :alt %>
        <%= ff.text_field :alt %>
      </div>
      <hr>
    <% end %>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
