<div id="show" class="container">

  <p id="notice"><%= notice %></p>


    <div class="image col-md-7 col-sm1-12">
      <div>
        <% i= @product.images.first %>
        <%= image_tag i.file.url, id:"main-pic" %>
      </div>
      <div id="container-list-pic">
        <ul>
          <% @product.images.each do |i| %>
            <% if i!=@product.images.first %>
              <li><%= image_tag i.file.url, class: "min-pic" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  <div class="fiche-product col-md-5 col-sm1-12">
    <p id="name">
      <%= @product.name %>
    </p>

    <p id="price">
      <%= @product.price %>.00 €
    </p>

    <div class="size">
      <p>Taille de votre paire :</p>

    </div>

    <%= link_to "Ajouter au pannier", product_to_cart_path(@product), class: "add-product-to-cart" %>

    <h3>Détails du produit :</h3>
      <p id="description">
        <%= @product.description %>
      </p>

<!--    <p id="color">Couleur :
      <%= @product.color %>
    </p>
-->
  <h3>Informations sur la livraison :</h3>
  <p>
    Nos colis sont tous délivré par nos coursiers à pied : jeunes, beaux et rapides, ils vous assurent une livraison en moins de 24h.
    Nos chaussettes étant d'une qualité et d'une douceur imbattable, vous n'aurez surement pas besoin de l'option "retour",
    néanmoins, si vous n'avez vraiment pas besoin de chaussettes, sachez qu'il est toujours
    possible de contactez un de nos coursiers, qui viendra récupérer le produit et vous le rembourser avec le sourire.
  </p>

  </div>



  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>
