<div class="container">
  <%= form_for current_user, action: "post", url: {controller: "profile", action: "update"} do |f| %>
    <% if current_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :firstname, "Prénom" %>
      <%= f.text_field :firstname, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :lastname, "Nom" %>
      <%= f.text_field :lastname, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address, "Adresse" %>
      <%= f.text_field :address, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :addresscomplement, "Complément d'adresse" %>
      <%= f.text_field :addresscomplement, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :addresscomplementbis, "Complément d'adresse bis" %>
      <%= f.text_field :addresscomplementbis, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :zipcode, "Code postal" %>
      <%= f.text_field :zipcode, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city, "Ville" %>
      <%= f.text_field :city, class:"form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Sauvegarder", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
