<!DOCTYPE html>
<html>
  <head>
    <title>Sock-It</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav-bar-left searchBar little">
        <form action="">
          <label class="magnifying_glass" for="search_bar"></label>
          <input id="search_bar" type="text" placeholder="Rechercher">
        </form>
      </div>
    <%= link_to root_path do %>
      <div class="nav-bar-center title-container">
        <%= link_to root_path do %>
        <h1>Sock-it</h1>
        <p class="sub-title">Paris</p>
        <% end %>
      </div>
      <% end %> 
        <%= link_to(cart_path) do %>
          <div class="nav-bar-right cart">
            <span class="cart_icon"></span>
            <span class="number_article"><%= @shopping_cart.total %> €</span>
          </div>
        <% end %>
    </header>
      <nav class="main-nav">
        <ul>
          <% @categories.each do |category| %>
            <%= link_to category_path(category) do %>
              <li><%= category.libCategory.upcase %></li>
            <% end %>
          <% end %>
          <a href="">
            <li>Nouveautés</li>
          </a>
          <a href="">
            <li>A Propos</li>
          </a>
        </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
