<!DOCTYPE html>
<html>
  <head>
    <title>Sock-It</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav-bar-left searchBar little">
        <form action="">
          <label class="magnifying_glass" for="search_bar"></label>
          <input id="search_bar" type="text" placeholder="Rechercher">
        </form>
      </div>
      <%= link_to root_path do %>
      <div class="nav-bar-center title-container">
        <%= link_to root_path do %>
        <h1>Sock-it</h1>
        <p class="sub-title">Paris</p>
        <% end %>
      </div>
      <% end %>

      <p id="burger-button">Menu</p>
      <div id="nav-burger-button" class="nav-bar-right nav-hidden">

        <% if user_signed_in? %>

          <div id="account_nav" class="small">
            <h3 id="button-account" class="button-header">Mon Compte</h3>
            <div class="nav">

              <% if current_user.admin===true %>
                <%= link_to products_path do %>
                  <p class="nav_log">
                    Admin
                  </p>
                <% end %>
              <% end %>

              <%= link_to destroy_user_session_path, :method => :delete do %>
                <p class="nav_log">
                  Déconnexion
                </p>
              <% end %>

            </div>
          </div>
        <% else %>

          <%= link_to new_user_session_path do %>
            <div class="nav_log">
              <h3 class="button-header">Connexion</h3>
            </div>
          <% end %>

          <%= link_to new_user_registration_path do %>
            <div class="nav_log">
              <h3 class="button-header bg-button">Inscription</h3>
            </div>
          <% end %>

        <% end %>

        <%= link_to(cart_path) do %>
          <div class="cart">
            <span class="cart_icon"></span>
            <span class="number_article"><span id="header-total-count"><%= @shopping_cart.total %></span> €</span>
          </div>
        <% end %>

      </div>

    </header>
      <nav class="main-nav">
        <ul>
          <% @categories.each do |category| %>
            <%= link_to category_path(category) do %>
              <li><%= category.libCategory.upcase %></li>
            <% end %>
          <% end %>
          <a href="">
            <li>Nouveautés</li>
          </a>
          <a href="">
            <li>A Propos</li>
          </a>
        </ul>
      </nav>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert"><%= alert %></p>
      <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <script>
      var config = {
        "root" : "<%= root_url %>"
      }
    </script>
  </body>
</html>
