<div id="homepage" class="container">
  <div class="banner">
    <%= image_tag "banner.png" %>
  </div>
  <!-- <div class="wrapper-small"> -->
    <div class="products-container">
      <% i = 0 %>
      <% @products.each do |product| %>
      <div class="product">
        <p class="price"><%= product.price %>€</p>
        <div class="visuel">
          <%= image_tag product.images[0].file.url(:medium) %>
        </div>
        <div class="content">
          <%= link_to product do %>
          <p class="title"><%= product.name %></p>
          <% end %>
          <%= link_to "", product_to_cart_path(product.id), class: "add-product-to-cart", :data => {:url => product.images[0].file.url(:medium), :title =>  product.name }  %>
        </div>
      </div>
      <% i+=1 %>
      <% end %>
    </div>
    <%= render "layouts/popincart" %>
