<div id="homepage" class="container">
  <div class="banner">
    <%= image_tag "banner.png" %>
  </div>
  <!-- <div class="wrapper-small"> -->
    <div class="row products-container">
      <% i = 0 %>
      <% @products.each do |product| %>
      <div class="product col-sm-3 <% if i%3===0 %>col-sm-offset-3-2<% end %>">
        <p class="price"><%= product.price %>€</p>
        <div class="visuel">
          <%= image_tag product.images[0].file.url(:medium) %>
        </div>
        <div class="content">
          <%= link_to product do %>
          <p class="title"><%= product.name %></p>
          <% end %>
          <%= link_to "", product_to_cart_path(product.id), class: "add-product-to-cart" %>
        </div>
      </div>
      <% i+=1 %>
      <% end %>
    </div>
