<div id="homepage" class="container">
  <div class="banner">
    <%= image_tag "banner.png" %>
  </div>
  <!-- <div class="wrapper-small"> -->
    <div class="row products-container">
      <div class="product col-sm-3 col-sm-offset-3-2">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
      <div class="product col-sm-3">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
      <div class="product col-sm-3">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
      <div class="product col-sm-3 col-sm-offset-3-2">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
      <div class="product col-sm-3">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
      <div class="product col-sm-3">
        <div class="visuel">
          <%= image_tag 'product.png' %>
          <div class="list-color">
            <span class="color bg-grey-light"></span>
            <span class="color bg-blue"></span>
            <span class="color bg-grey-dark"></span>
          </div>
        </div>
        <div class="content">
          <p class="title">Chaussette Royale</p>
          <p class="price">180€</p>
          <a href="" class="add-product-to-cart">Commander</a>
        </div>
      </div>
    </div>
  <!-- </div> -->

</div>
